@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto&family=Ubuntu&display=swap');

.sec1{


    background:  hsl(212,45%,89%);
    width:1000px ;
    height:500px ;
    margin: 0px 0px 0px 30px ;
     padding: 0px 0px 0px 30px ;
     display: flex;
     align-items: center;
     justify-content: center;
    
    /* align-items: center;
    direction: ltr; */
    /* position: absolute; */
    /* top: -9999px;
    left: -9999px; */
    /* display: flex; */
    /* padding: 10px 10px 10px 10px ;
    margin: 10px 10px 10px 10px ;
  /* margin: 5px 5px 5px 5px ; */
  /* margin: 15px 20px 10px 15px; */

/*  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; */
}

 .page1{
    width:230px ;
    height: 360px;
    background: hsl(0, 0%, 100%);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    border-radius:10px;

    /* align-items: center;
align-content: center; */
/* padding: 1px 20px 20px 20px;
margin: 100px 100px 100px 400px ; */
 }
 .text1{
    font-size: 15px;
    font-weight:400px;
 padding: 0px 5px 5px 1px;
 margin: 0px 5px 5px 5px;
 }
p{
    font-size: 15px;
    font-weight:700px;
    font-family: 'Ubuntu', sans-serif;
    /* border-radius:30px;
 padding: 5px 5px 5px 5px;
 margin: 5px 5px 5px 5px; */
}

.image{
 padding: 5px 0px 10px 10px ;
 margin: 5px 0px 10px 10px ;
 border-radius:10px;
 /* width: 180px;
 height: 200px; */
 /* width="180px" height="200px" */

}
